.MD1gFImFx2ApIXuvaKd8 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.B03v3L9pt50iajCNqVC7 {
  position: relative;
  width: 100%;
  height: 100%;
}
.TMlyPJlmRFwpPS8bNhsI {
  display: flex;
  transition: transform 0.3s ease;
  height: 100%;
}
.YdQEH1fldUAVNptaN0gZ {
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}
.UADR5FcW3G4UwLwWZvzD {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff02;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  z-index: 10;
  transition: background-color 0.3s;
}
.UADR5FcW3G4UwLwWZvzD:hover {
  background-color: #fff;
}
.CwuVXaSxRQJtBM0fL1HK {
  left: 10px;
}
.Zu3GTmqXLEagI9uFYfWL {
  right: 10px;
}
.aClrAkTRnYMc_d9hxAXv {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.m5Tn4Gzw81EzPs7fWom0 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff9;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.m5Tn4Gzw81EzPs7fWom0:hover {
  background-color: #fffc;
}
.iYWdcWKRV9sNXsYIe7jR {
  background-color: #fff;
}
