.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatarIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.avatarText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #666;
}

.circle {
  border-radius: 50%;
}

.square {
  border-radius: 4px;
}
